body {
   margin: 0;
   padding: 0;
    background-color: #ddd;
}

#map { height: 100%; width:100%}

.nav{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #000080;
    text-align: center;
    color:white;
}
.wrapper{
    padding: 5px;
    height:92vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
#container-filters{
    display: flex;
    flex-direction: column;
    grid-column-start:1;
    grid-column-end:2; 
    grid-row-start:2;
    grid-row-end:13;
}

#container-cards{
    grid-column-start:2;
    grid-column-end:13; 
    grid-row-start:1; 
    grid-row-end:2; 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-blanck{
    border: none;
    background-color: white;
}

.card{
    margin: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 80px;
    width: 300px;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: #000080;
    border-radius: 5px;
}

.card h1{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
}

.card span{
    color: #ddd;
    font-size: 20px;
    
}
.google-visualization-controls-label{
    padding: 10px;
}
.filter-number, .filter-string, .filter-date{
    background-color: white;
    margin: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    min-height: 100px;
    width: 300px;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 5px;
}
.filter-category{
    background-color: white;
    margin: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    min-height: 120px;
    min-width: 300px;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 5px;
}

.filter-category li{
    background-color: aqua;
    padding: 0.4em;
    margin: 0.1em;
    border-radius: 5px;
}

.filter-category label, .filter-date label, .filter-number label, .filter-string label{
    font-weight: bold;
    font-size: larger;
}

#container-charts{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start:2;
    grid-column-end:13; 
    grid-row-start:2; 
    grid-row-end:13; 
    
}

.charts{
    border: 2px solid #eee;
}
